#header {
    text-align: center;
    background-color: darkslategray;
    color: white;
    margin-bottom: 0;
    height: 65px;
    padding-top: 5px;
}

.cityBox {
    background-color: #F9FAFA;
    padding-bottom: 20px;
    width: 300px;
}

#citySearch {
    margin-top: 5px;
}

#cityInput {
    margin-left: 15px;
}

.currentWeather {
    height: 250px;
    margin-top: 10px;
    padding: 5px;
    padding-top: 15px;
    line-height: 40px;
}

.city {
    margin-left: 15px;
    margin-top: 10px;;
}

.futureWeather {
    margin-top: 15px;
}

.col-md-2 {
    margin: 10px;
    padding-top: 5px;
    color: white;

}

.uvIndex {
    margin-left: 15px;
}

.uvBox {
    color: white;
    width: 50px;
    text-align: center;
    padding-bottom: 2px;
    margin-left: 10px;
}

#cities {
    margin-top: 20px;
}

.cityBtn {
    width: 255px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 4px;
    height: 40px;
    background-color: white;
    border-style: solid;
}

.hide {
    display: none;
}

.clear {
    margin-top: 10px;
    padding-bottom: 5px;
}

.img1 {
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 768px) {
    .currentweather {
        height: 300px;
        margin-bottom: 15px;
    }

}